<!DOCKTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}
        <p>This site was create by sandip. iys user data from weather api.</p>
        <img src="/img/a.jpg" alt="">
        {{>footer}}
    </body>
</html>